
<div class="row m-0">
    <!--    menue-->
    <div class="col-2 bg-dark text-white">
        <div class="bg-dark text-white p-3" style="position:fixed;height: 100%;">
            <div class="list-group list-group-dark list-group-flush">
                <a href="/admin" class="list-group-item list-group-item-action text-white bg-dark" aria-current="true">Home</a>
                <a href="/admin/book" class="list-group-item list-group-item-action text-white bg-dark">Books</a>
                <a href="/admin/author" class="list-group-item list-group-item-action rounded">Authors</a>
                <a href="/admin/publisher" class="list-group-item list-group-item-action text-white bg-dark">Publishers</a>
                <a href="/admin/order" class="list-group-item list-group-item-action text-white bg-dark">Orders</a>
                <a href="/admin/voucher" class="list-group-item list-group-item-action text-white bg-dark">Vouchers</a>
            </div>
        </div>
    </div>
    <!--    contents-->
    <div class="col-10 ">
        <div class="shadow p-3 mb-3 mt-3">
            <h3>Edit Author Info</h3>

        </div>
        <div  class="shadow p-3 mb-3 mt-3">
            <form action="/admin/author/edit" method="post">
                <input hidden type="text" name="id" value="<%=author.ID%>" class="form-control"
                       id="nameInput" placeholder="name@example.com">
                <h3>Main Info</h3>
                <div class="mb-3">
                    <label for="nameInput">Author Name</label>
                    <input type="text" name="name" value="<%=author.NAME%>" class="form-control"
                           id="nameInput" placeholder="name@example.com">
                </div>

                <h3>Image</h3>
                <div class="row">
                    <div class="col-2">
                        <img src="<%=author.IMAGE%>" class="img-fluid"/>
                    </div>
                    <div class="col-8">
                        <div class="mb-3">
                            <label for="imageInput">Image Link</label>
                            <input type="text" name="image" value="<%=author.IMAGE%>" class="form-control"
                                   id="imageInput" placeholder="name@example.com">
                        </div>
                    </div>
                </div>
                <hr>
                <h3>Details</h3>
                <label for="floatingTextarea2">Author Details</label>
                <textarea name="description" class="form-control"
                          placeholder="Say something about the author"
                          id="floatingTextarea2" style="height: 100px"><%=author.DESCRIPTION%></textarea>

                <hr>
                <button class="btn btn-danger" type="submit">SAVE AUTHOR</button>
                <a class="btn btn-secondary" href="/admin/author">Cancel</a>
            </form>
        </div>
    </div>
</div>