<div class="row m-0">
    <!--    menue-->
    <div class="col-2 bg-dark text-white" >
        <div class="bg-dark text-white p-3" style="position:fixed;height: 100%;">
            <div class="list-group list-group-dark list-group-flush">
                <a href="/admin" class="list-group-item list-group-item-action rounded" aria-current="true">Home</a>
                <a href="/admin/book" class="list-group-item list-group-item-action text-white bg-dark">Books</a>
                <a href="/admin/author" class="list-group-item list-group-item-action text-white bg-dark">Authors</a>
                <a href="/admin/publisher" class="list-group-item list-group-item-action text-white bg-dark">Publishers</a>
                <a href="/admin/order" class="list-group-item list-group-item-action text-white bg-dark">Orders</a>
                <a href="/admin/voucher" class="list-group-item list-group-item-action text-white bg-dark">Vouchers</a>
            </div>
        </div>
    </div>
    <!--    contents-->
    <div class="col-10 ">
        <div class="row mt-3">
            <div class="col-12 col-sm-6 col-xxl-3 d-flex mb-2">
                <div class="card flex-fill shadow border-end-0 border-bottom-0 border-start-0 border-5 border-success">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">Sold Books of This Month</h5>
                            </div>

                            <div class="col-auto ">
                                <div class="avatar ">
                                    <div class="avatar-title rounded-circle bg-warning p-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar2-month" viewBox="0 0 16 16">
                                            <path d="m2.56 12.332.54-1.602h1.984l.54 1.602h.718L4.444 7h-.696L1.85 12.332h.71zm1.544-4.527L4.9 10.18H3.284l.8-2.375h.02zm5.746.422h-.676v2.543c0 .652-.414 1.023-1.004 1.023-.539 0-.98-.246-.98-1.012V8.227h-.676v2.746c0 .941.606 1.425 1.453 1.425.656 0 1.043-.28 1.188-.605h.027v.539h.668V8.227zm2.258 5.046c-.563 0-.91-.304-.985-.636h-.687c.094.683.625 1.199 1.668 1.199.93 0 1.746-.527 1.746-1.578V8.227h-.649v.578h-.019c-.191-.348-.637-.64-1.195-.64-.965 0-1.64.679-1.64 1.886v.34c0 1.23.683 1.902 1.64 1.902.558 0 1.008-.293 1.172-.648h.02v.605c0 .645-.423 1.023-1.071 1.023zm.008-4.53c.648 0 1.062.527 1.062 1.359v.253c0 .848-.39 1.364-1.062 1.364-.692 0-1.098-.512-1.098-1.364v-.253c0-.868.406-1.36 1.098-1.36z"/>
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                                            <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="display-5 mt-1 mb-3"><%=monthlyStat.TOTAL_BOOKS_SOLD%></h1>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xxl-3 d-flex mb-2">
                <div class="card flex-fill shadow border-end-0 border-bottom-0 border-start-0 border-5 border-success">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">Earnings of This Month</h5>
                            </div>

                            <div class="col-auto">
                                <div class="avatar">
                                    <div class="avatar-title rounded-circle bg-warning p-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                            <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="display-5 mt-1 mb-3">TK. <%=monthlyStat.TOTAL_EARNED_MONEY%></h1>

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xxl-3 d-flex mb-2">
                <div class="card flex-fill shadow border-end-0 border-bottom-0 border-start-0 border-5 border-success">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">Sold Books of This Year</h5>
                            </div>

                            <div class="col-auto">
                                <div class="avatar">
                                    <div class="avatar-title rounded-circle bg-warning p-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="display-5 mt-1 mb-3"><%=yearlyStat.TOTAL_BOOKS_SOLD%></h1>

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xxl-3 d-flex mb-2">
                <div class="card flex-fill shadow border-end-0 border-bottom-0 border-start-0 border-5 border-success">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">Earnings of This Year</h5>
                            </div>

                            <div class="col-auto">
                                <div class="avatar-title rounded-circle bg-warning p-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                        <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <h1 class="display-5 mt-1 mb-3">TK. <%=yearlyStat.TOTAL_EARNED_MONEY%></h1>

                    </div>
                </div>
            </div>
        </div>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        let monthlyEarnings = <%- JSON.stringify(monthlyEarnings) %>;
        let monthlyData = [];
        monthlyData.push(['DAY','EARNINGS (TK)']);
        for(let i=0;i<monthlyEarnings.length;i++){
            let smallData = [monthlyEarnings[i].MONTH+" "+ monthlyEarnings[i].DAY,monthlyEarnings[i].TOTAL_EARNED];
            monthlyData.push(smallData);
        }

        let yearlyEarnings = <%- JSON.stringify(yearlyEarnings) %>;
        let yearlyData = [];
        yearlyData.push(['MONTH','EARNINGS (TK)']);
        for(let i=0;i<yearlyEarnings.length;i++){
            let smallData = [yearlyEarnings[i].MONTH,yearlyEarnings[i].TOTAL_EARNED];
            yearlyData.push(smallData);
        }
        console.log(yearlyEarnings);

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable(monthlyData);
            var data2 = google.visualization.arrayToDataTable(yearlyData);
            var options = {
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
            var chart2 = new google.visualization.LineChart(document.getElementById('curve_chart2'));

            chart.draw(data, options);
            chart2.draw(data2, options);
        }
    </script>
        <div class="row g-2">
            <div class="col-lg-6"   >
                <div class="card shadow border-end-0 border-bottom-0 border-start-0 border-5 border-success m-2" >
                    <div class="card-header">
                        <h4> Last 30 Days Earnings </h4>
                    </div>
                    <div class="card-body">
                        <div id="curve_chart" style="min-height: 500px"></div>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col-lg-6  mb-3" >
                <div class="card shadow border-end-0 border-bottom-0 border-start-0 border-5 border-success m-2" >
                    <div class="card-header">
                        <h4> Yearly Earnings </h4>
                    </div>
                    <div class="card-body">
                        <div id="curve_chart2" style="min-height: 500px"></div>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<!---->