<div class="row m-0">
    <!--    menue-->
    <div class="col-2 bg-dark text-white">
        <div class="bg-dark text-white p-3" style="position:fixed;height: 100%;">
            <div class="list-group list-group-dark list-group-flush">
                <a href="/admin" class="list-group-item list-group-item-action text-white bg-dark" aria-current="true">Home</a>
                <a href="/admin/book" class="list-group-item list-group-item-action rounded">Books</a>
                <a href="/admin/author" class="list-group-item list-group-item-action text-white bg-dark">Authors</a>
                <a href="/admin/publisher"
                   class="list-group-item list-group-item-action text-white bg-dark">Publishers</a>
                <a href="#" class="list-group-item list-group-item-action text-white bg-dark">Others</a>
            </div>
        </div>
    </div>
    <!--    contents-->
    <div class="col-10 ">
        <div class="shadow p-3 mb-3 mt-3">
            <h3>Book List</h3>
            <a class="btn btn-primary" href="/admin/book/add">
                <i class="fas fa-plus"></i>
                ADD NEW BOOK
            </a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Author</th>
                <th scope="col">Publisher</th>
                <th scope="col">Year</th>
                <th scope="col">ISBN</th>
                <th scope="col">Price</th>
                <th scope="col">Page</th>
                <th scope="col">Edition</th>
                <th scope="col">Stock</th>
                <th scope="col">Language</th>
                <th scope="col">Action</th>

            </tr>
            </thead>
            <tbody>
            <% for(let i = 0;i < books.length;i++){ %>
                <tr>
                    <th scope="row"><%= books[i].ID %></th>
                    <td><img class="img-thumbnail" width="100px" src="<%= books[i].IMAGE %>"/></td>
                    <td><%= books[i].NAME %></td>
                    <td><%= books[i].AUTHOR_ID %></td>
                    <td><%= books[i].PUBLISHER_ID %></td>
                    <td><%= books[i].PUBLISHING_YEAR %></td>
                    <td><%= books[i].ISBN %></td>
                    <td><%= books[i].PRICE %></td>
                    <td><%= books[i].PAGE %></td>
                    <td><%= books[i].EDITION %></td>
                    <td><%= books[i].STOCK %></td>
                    <td><%= books[i].LANGUAGE %></td>
                    <td>
                        <div class="d-grid">
                            <a href=<%= "/admin/book/edit/"+books[i].ID %> class="btn btn-secondary btn-sm
                               mb-1">Update</a><br/>
                            <a class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </td>
                </tr>
            <% } %>

            </tbody>
        </table>
    </div>
</div>