<div class="row m-0">
    <!--    menue-->
    <div class="col-2 bg-dark text-white">
        <div class="bg-dark text-white p-3" style="position:fixed;height: 100%;">
            <div class="list-group list-group-dark list-group-flush">
                <a href="/admin" class="list-group-item list-group-item-action text-white bg-dark" aria-current="true">Home</a>
                <a href="/admin/book" class="list-group-item list-group-item-action text-white bg-dark">Books</a>
                <a href="/admin/author" class="list-group-item list-group-item-action text-white bg-dark">Authors</a>
                <a href="/admin/publisher" class="list-group-item list-group-item-action text-white bg-dark">Publishers</a>
                <a href="/admin/order" class="list-group-item list-group-item-action text-white bg-dark">Orders</a>
                <a href="/admin/voucher" class="list-group-item list-group-item-action rounded">Vouchers</a>
            </div>
        </div>
    </div>
    <!--    contents-->
    <div class="col-10 ">
        <div class="shadow p-3 mb-3 mt-3">
            <h3>Voucher List</h3>
            <a href="/admin/voucher/add" class="btn btn-primary">
                <i class="bi bi-plus-lg"></i>
                ADD NEW VOUCHER
            </a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Discount</th>
                <th scope="col">Maximum</th>
                <th scope="col">Validity</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i = 0;i < vouchers.length ;i++){ %>
                <tr>
                    <th scope="row"><%= vouchers[i].ID %></th>
                    <td><%= vouchers[i].NAME %></td>
                    <td><%= vouchers[i].DISCOUNT %></td>
                    <td><%= vouchers[i].CAP %></td>
                    <td><%= vouchers[i].VALIDITY %></td>

                    <td>
                        <div class="d-grid">
                            <a class="btn btn-secondary btn-sm mb-1" href=<%="/admin/voucher/edit/"+vouchers[i].ID%>>Update</a><br/>
                        </div>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>