<% if(title === 'Books'){ %>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Books</li>
        </ol>
    </nav>
<% } %>

<h6>(Showing <%=start+1%> to <%=start+books.length%> of <%=cnt%> books)</h6>
<div class="d-flex flex-wrap justify-content-evenly">
    <% for(let i = 0;i < books.length;i++){ %>

        <div class="card mb-1 m-1" style="width: 12rem;">
            <img class="card-img-top p-3" src=<%= books[i].IMAGE %>
            alt="Card image cap">
            <div class="card-body">
                <p style="color: #266dd3;font-weight: 650; font-size: 18px;" class="card-title"><%= books[i].NAME %></p>
                <span class="ml-0">
                    <%if(books[i].REVIEW_COUNT){%>
                        <% for(let stars = 0;stars < books[i].STAR / Math.max(books[i].REVIEW_COUNT, 1);stars++){ %>
                            ⭐
                        <% } %>
                    <%}else{%>
                        No Reviews yet
                    <%}%>
                </span>
                <p class="card-text">Price: Tk. <%= books[i].PRICE %></p>
                <a href=<%= "/books/"+books[i].ID %> class="btn btn-dark">View Details</a>
            </div>
        </div>

    <% } %>
    <br/>

</div>
<div style="margin: auto" id="paginationDiv"  data-pages=<%=pages%> data-page=<%=page%> data-href=<%=target%> ></div>
<script async src="/scripts/pagination.js"></script>