<script>

</script>

<div class="row">
    <div class="shadow col-8" style="background-color: #fffaf4">
        <% for(let i = 0;i < items.length;i++){ %>
        <div class="row p-3 border-bottom">
            <div class="col-2">
                <img class="img-fluid" src=<%= items[i].IMAGE %>>
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-6">
                        <h5><%= items[i].BOOK_NAME %></h5>
                        <span> <%=items[i].AUTHOR_NAME%> </span> </br>
                        <a href=<%='cart/delete/'+items[i].BOOK_ID%> style="background-color: white;border: black;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </div>
                    <div class="col-2">
                        <input class="img-fluid" value="1" type="number" id="quantity" name="quantity" min="1" max="5">
                    </div>
                    <div class="col-3">
                        <b>TK: <%=items[i].PRICE%></b>
                    </div>
                </div>
            </div>

        </div>
        <% } %>
    </div>
</div>